@model IEnumerable<WebAplication.Models.MovieData>

@{
    ViewData["Title"] = "Index";
}

<body style="background: url(https://cdn.wallpapersafari.com/80/14/pvK9eN.jpg); background-size: 100% ">
</body>

